header, section{
    max-width: 900px;
    margin: 0 auto;
}

body{
    padding: 0;
    margin: 0;
}

h1, h2{
    font-family: Impact, Charcoal, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
}

.left{
    float: left;
    max-width: 49%;
}